* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --red: #e50008;
  --blue: #169cda;
  --darkblue: #004087;
}

::selection {
  background-color: transparent;
}

body {
  background: transparent;
  font-size: 1.6rem;
  font-family: sans-serif;
  height: 2000px
}

a {
  color: inherit;
  text-decoration: none;
}

.loader {
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  opacity: 1;
}

#loading-animation {
  animation: fade-in 0.2s ease;
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.loader.hidden {
  opacity: 0;
}

#current-date {
  text-align: center;
  margin: auto;
  display: inline-block;
  margin-bottom: 3rem;
}

.timetable-container {
  width: calc(100% - 3rem);
  height: auto;
  min-height: 800px;
  max-width: 1300px;
  background: white;
  color: white;
  border-radius: 3rem;
  margin: auto;
  position: relative;
  flex-flow: column;
  overflow: hidden;
  /* border: .5rem var(--red) solid; */
  border: .3rem var(--red) solid;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17% 12% 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "thead thead thead thead thead thead thead thead"
  "logo t1 t2 t3 t4 t5 t6 t7"
  "pn pn1 pn2 pn3 pn4 pn5 pn6 pn7"
  "wt wt1 wt2 wt3 wt4 wt5 wt6 wt7"
  "sr sr1 sr2 sr3 sr4 sr5 sr6 sr7"
  "cz cz1 cz2 cz3 cz4 cz5 cz6 cz7"
  "pt pt1 pt2 pt3 pt4 pt5 pt6 pt7" ;
}

.timetable-container > * {
  padding: 2rem;
  transition: filter 0.25s ease;
}

.timetable-header {
  background: url('img/bg4.jpg') center center/cover no-repeat;
  /* background: var(--red); */
  text-align: center;
  grid-area: thead;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 2.7rem;
}

.timeslot {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.logo {
  /* background: magenta; */
  background: url("img/logo.png") no-repeat center center/contain;
  background-size: 80%;
  grid-area: logo;
  position: relative;
  transition: background-size 0.2s ease;
}

.logo:hover {
  background-size: 69%;
}
#logo-link {
  width: 100%; height: 100%; background: black; opacity: 0; cursor: pointer; position: absolute; display: block; top: 0; left: 0; transition: opacity 0.15s ease;
}

#logo-link:hover {
  opacity: 0.15;
}
.t1 {
  background: var(--blue);
}

.t2 {
  background: var(--darkblue);
}

.t3 {
  background: var(--blue);
}

.t4 {
  background: var(--darkblue);
}

.t5 {
  background: var(--blue);
}

.t6 {
  background: var(--darkblue);
}

.t7 {
  background: var(--blue);
}

.t1 {grid-area: t1;}
.t2 {grid-area: t2;}
.t3 {grid-area: t3;}
.t4 {grid-area: t4;}
.t5 {grid-area: t5;}
.t6 {grid-area: t6;}
.t7 {grid-area: t7;}


.day {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: droid-serif, serif;
  font-weight: bold;
  font-size: 2rem;
}

.hour-number {
  font-family: droid-serif, serif;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.hour-time {
  font-family: poppins, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}

.day:nth-child(even) {
  background: var(--darkblue);
}
.day:nth-child(odd) {
  background: var(--blue);
}

.pn {grid-area: pn;}
.wt {grid-area: wt;}
.sr {grid-area: sr;}
.cz {grid-area: cz;}
.pt {grid-area: pt;}


span.white {
  background: white;
  color: var(--red);
  padding: 1ch 3ch;
  font-family: poppins, sans-serif;
  font-weight: 800;
}

.pn1, .pn2, .pn3, .pn4, .pn5, .pn6, .pn7 {
  box-shadow: inset 0px -1px 0px 0px var(--darkblue);
}

.sr1, .sr2, .sr3, .sr4, .sr5, .sr6, .sr7 {
  box-shadow: inset 0px 1px var(--darkblue),
  inset 0px -1px var(--darkblue);
}

.pt1, .pt2, .pt3, .pt4, .pt5, .pt6, .pt7 {
  box-shadow: inset 0px 1px var(--darkblue);
}

.pn2, .pn4, .pn6,
.wt2, .wt4, .wt6,
.sr2, .sr4, .sr6,
.cz2, .cz4, .cz6,
.pt2, .pt4, .pt6 { position: relative; }


.pn2::after, .pn4::after, .pn6::after,
.wt2::after, .wt4::after, .wt6::after,
.sr2::after, .sr4::after, .sr6::after,
.cz2::after, .cz4::after, .cz6::after,
.pt2::after, .pt4::after, .pt6::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 2;
  display: inline-block;
  box-shadow: inset -1px 0px 0px 0px var(--darkblue), inset 1px 0px 0px 0px var(--darkblue);
  pointer-events: none;
}

.lesson {
  position: relative;
  color: #004087;
}

.subject {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-family: droid-serif, serif;
  font-size: 1.6rem;
  font-weight: bolder;
  max-width: 90%;
}

.subject:hover {
  color: var(--red);
  cursor: pointer;
}

.teacher {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-family: poppins, sans-serif;
  font-size: 1.2rem;
  max-width: 90%;
}

.teacher:hover {
  color: var(--red);
  cursor: pointer;
}

.active-hour {
  /* background: white; */
  /* color: var(--red); */
  background: var(--red);
  /* border-bottom: var(--red) 3px solid; */
}

.active-day {
  background: var(--red) !important;
  color: white;
  border-right: var(--red) 3px solid;
}

@media screen and (max-width: 1360px) {
  .subject {font-size: 1.4rem;}
  .teacher {font-size: 1rem;}
}