* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: transparent;
  font-size: 1.6rem;
}

.timetable-container {
  width: 80%;
  height: auto;
  min-height: 800px;
  background: white;
  border-radius: 3rem;
  margin: auto;
  position: relative;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  border: .3rem red solid;
}

.timetable-container * {
  position: absolute;
}

.timetable-header {
  width: 100%;
  height: 16.2%;
  background: red;
  text-align: center;
  position: absolute;
}