* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: gray;
  font-size: 1.6rem;
}

.timetable-container {
  width: 80%;
  height: auto;
  min-height: 200px;
  background: white;
  border-radius: 3rem;
  margin: auto;
  position: relative;
}